@using PTLab2.Models
@model IEnumerable<Product>

<h2>Бытовая техника</h2>
<h3>СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ!!! За каждые потраченных 10000 рублей в нашем магазине скидка 1% На все товары</h3>
Вы потратили в нашем магазине @ViewData["TotalAmountUser"] рублей
<table class="table">
    <tr><th>Название</th><th>Цена</th>><th>Цена со скидкой</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td><s>@item.Price</s></td>
            <td>@item.NewPrice</td>
            <td>
                <form asp-controller="Shop" asp-action="Buy" method="post" asp-route-id="@item.Id">
                <input type="submit" value="Купить" />
                </form>
            </td>
                @if (ViewContext.HttpContext.User.IsInRole("admin"))
                {
                <td>
                    <a asp-action="Edit" asp-controller="Shop" asp-route-id="@item.Id">Изменить</a>
                </td>
                <td>
                    <form asp-controller="Shop" asp-action="Remove" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
                }
        </tr>
    }
</table>